# Core LangChain packages
langchain
langchain-community
langchain-core
langchain-openai
langgraph

# Flask and related packages
Flask
Flask-Migrate
Flask-CORS
Flask-SQLAlchemy

# Database and ORM
psycopg
psycopg-pool
psycopg2-binary


# LangGraph persistence
langgraph-checkpoint-postgres

# Blockchain interaction
web3

# Environment variables
python-dotenv

# JWT
pyjwt[crypto]
cryptography
coinbase-advanced-py